$fuente-cursiva : 'Dancing Script', cursive;
$fuente-enlaces-header : 'Roboto', sans-serif;

$color-principal : rgba(188, 189, 190, 0.568);
$color-negro : #000000;
$color-amarillo-hover : rgb(237, 237, 130);
$color-marron-hover : #967E76;