@import '../utilities/variables';

$reservas : "../../images/desayuno-publi.png";
$menu : "../../images/pizza.png";
$market : "../../images/mercado.jpg";

.card {
    width: 40rem;
}

.card-body {
    a {
        display: block;
        font-size: 1rem;
        text-align: center;
        padding: 0.5rem 1rem;
        color: $color-negro;
        background-color: $color-principal;
        transition: all 0.3s;
        font-weight: bold;


        &:hover {
            background-color: $color-negro;
            color: $color-amarillo-hover;
        }
    }
}

.card-title {
    display: flex;
    justify-content: center;
}

.card-text {
    text-align: center;
}

.img-reservas {
    height: 20rem;

    background-image: url($reservas);
    background-size: cover;
}

.img-menu {
    height: 20rem;

    background-image: url($menu);
    background-size: cover;
}

.img-market {
    height: 20rem;

    background-image: url($market);
    background-size: cover;
}

.banner {
    background-image: url(/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 15rem;

    h1 {
        font-weight: bold;
        font-size: 4rem;
        text-align: center;
        font-family: $fuente-cursiva;
    }
}

