@import '../utilities/variables';

.food-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.food-title {
    h2 {
        font-family: $fuente-cursiva;
        font-size: 3rem;
        font-weight: bold;
    }
}
