@import '../utilities/variables';

.submit-button {
    width: 100%;
    color: $color-negro;
    font-weight: bold;
    background-color: $color-principal;
    border: none;
    transition: all 0.5s;
    padding: 0.5rem 1rem;
    font-family: $fuente-cursiva;
    font-size: 2rem;

    &:hover {
        background-color: $color-negro;
        color: $color-amarillo-hover;
    }
}

label {
    font-family: $fuente-cursiva;
    font-weight: bold;
    font-size: 2rem;
    display: block;
    text-align: center;
}