/* HEADER */
a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s;
}

a:hover {
    color: #967E76;
}

.card-body a {
    display: block;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem 1rem;
    color: black;
    background-color: rgba(188, 189, 190, 0.568);
    transition: all 0.3s;
    font-weight: bold;
}

.card-body a:hover {
    background-color: black;
    color: rgb(237, 237, 130);
}

.card-title {
    display: flex;
    justify-content: center;
}

.banner {
    background-image: url(../images/banner.png);
    height: 15rem;
}

.banner h1 {
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

/* CIERRA INDEX */

/* MENU */
.food-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.food-title h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: bold;
}

/* CIERRA MENU */

/* MARKET */

.card {
    height: 100%;
}


.card img {
    height: 10rem;
}

.market-prod {
    margin-bottom: 2rem;
    transition: all 1.2s;
}

.market-prod:hover{
    transform: scale(1.1,1.1);
}

/* CIERRA MARKET */

/* RESERVAS */

.submit-button {
    width: 100%;
    color: black;
    font-weight: bold;
    background-color: rgba(188, 189, 190, 0.568);
    border: none;
    transition: all 0.5s;
    padding: 0.5rem 1rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.submit-button:hover {
    background-color: black;
    color: rgb(237, 237, 130);
}

label {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2rem;
    display: block;
    text-align: center;
}


@media only screen and (max-width: 765px) {
    a{
        display: block;
        width: 100%;
        text-align: center;
    }

    .food-text {
        justify-content: center;
    }

    .col{
        display: flex;
        justify-content: center;
        margin-bottom: 2.5rem;
    }

}